{% extends "layout.twig" %}
{% block content %}
<form method="POST" action="create">
  Nom<input type="text" name="name">
  Description<input type="text" name="description">
  Inviter des amis
  <select name="friends" id="friends">
  </select>

  <input type="hidden" name="latitude" id="latitude">
  <input type="hidden" name="longitude" id="longitude">
 <input type="submit" value="Submit">
<div id="lala" style="background-image:url(http://graph.facebook.com/10208311903576501/picture);">
	
</div>
 <script>

navigator.geolocation.getCurrentPosition(function(position) {
	document.getElementById('longitude').value = position.coords.longitude;
	document.getElementById('latitude').value = position.coords.latitude;
});



var user = JSON.parse(localStorage['userData'] || '{}');
var friend = function(){
	user.facebookFriends.forEach(logArrayElements);
}

var logArrayElements = function (element, index, array) {
    var friend = document.getElementById('friends');
    var lala = document.getElementById('lala');
    console.log('<img src="http://graph.facebook.com/'+element.id+'/picture"/>');
    friend.innerHTML += '<option value="'+element.name+'">'+element.name+'</option>';
};

friend();
 </script>
</form>
{% endblock %}