{% extends "layout.twig" %}
{% block content %}
<script>/*
	if({{id}}){
		console.log('kkoko');
	}*/
</script>
<form method="POST" action="create">
  Nom<input type="text" name="name">
  Description<input type="description">
  Inviter des amis<input type="text">

 <input type="submit" value="Submit">
</form>
{% endblock %}