{% extends "layout.twig" %}
{% block content %}
<form method="POST" action="create">
  Titre<input type="text" name="titre">
  Description<input type="text">
  Inviter des amis<input type="text">

 <input type="submit" value="Submit">
</form>
{% endblock %}