{% extends "layout.twig" %}
{% block head %}
{{parent()}}
	<script src="/javascripts/facebook/fb.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
{% endblock %}
{% block navbar %}
<nav id="HomeNavbar">{{title}}</nav>
{% endblock %}
{% block content %}
 <div id="buttonFb">
  <div  class='fb-login-button fbLogin'
  data-max-rows="1"
  data-size="xlarge"
  data-scope="public_profile,user_friends,user_about_me,user_photos"
  data-auto-logout-link="true"
   onlogin="checkLoginState()"></div>
</div>
<!-- 

<fb:login-button  scope="public_profile,user_friends,user_about_me,user_photos" onlogin="checkLoginState()">
</fb:login-button>
   -->

{% endblock %}