{% extends "layout.twig" %}
{% block head %}
{{parent()}}
	<script src="/javascripts/facebook/fb.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/index.css">
{% endblock %}
{% block navbar %}
<nav id="HomeNavbar">{{title}}</nav>
{% endblock %}
{% block content %}
 <div id="buttonFb">
  <div  class='fb-login-button fbLogin'
  data-max-rows="1"
  data-size="xlarge"
  data-scope="public_profile,email,user_friends,email,user_about_me,user_actions.books,user_actions.fitness,user_actions.music,user_actions.news,user_actions.video,user_birthday,user_education_history,user_events,user_games_activity,user_hometown,user_likes,user_location,user_managed_groups,user_photos,user_posts"
  data-auto-logout-link="true"
   onlogin="checkLoginState()"></div>
</div>
<!-- 

<fb:login-button  scope="public_profile,email,user_friends,email,user_about_me,user_actions.books,user_actions.fitness,user_actions.music,user_actions.news,user_actions.video,user_birthday,user_education_history,user_events,user_games_activity,user_hometown,user_likes,user_location,user_managed_groups,user_photos,user_posts" onlogin="checkLoginState()">
</fb:login-button>
   -->

{% endblock %}