<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet"  type="text/css" href="/stylesheets/style.css">
  			<script src="/javascripts/fb.js"></script>
            <title>{% block title %}{{title}}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="#">you</a>.
            {% endblock %}
        </div>
    </body>
</html>