<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{{title}}ss</title>
	<link rel="stylesheet"  type="text/css" href="/stylesheets/style.css">
	<script src='/javascripts/fb.js'></script>
</head>
<body>
	
