<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet"  type="text/css" href="/stylesheets/style.css">
            <link rel="stylesheet"  type="text/css" href="/stylesheets/navbar.css">
            <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
            <script src="../javascripts/user/user.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <title>{% block title %}{{title}}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block navbar %}<nav id="navbar"> <div id="notif"></div> 
            <span id="bigTitle">{{title}}</span>
        </nav>{% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>