<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
  }
</style>

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBavdsZji-wJshos01mjqZ_kS1--pmdcwY&signed_in=true&callback=initMap"></script>
<script src="public/javascripts/map/map.js"></script>
<!-- Message of the moment: <b>{{ title }}</b> -->

<div id="map"></div>
