{% extends "layout.twig" %}
{% block head %}
{{parent ()}}
<link rel="stylesheet"  type="text/css" href="/stylesheets/map.css">
<script src="javascripts/map/map.js"></script>
{% endblock %}
{% block content %}


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBavdsZji-wJshos01mjqZ_kS1--pmdcwY&libraries=places,geometry&callback=initMap"></script>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
<div id="buttons">
  <button class="filterChatRooms" filter="users">Popularité</button>
  <button class="filterChatRooms" filter="distance">Distance</button>
</div>
<div id="chatRoomList"></div>
  {% block footer %}
    <div id="createEvent"><span id="bigFooter"><a  href="/room/create">CRÉER UN ÉVÈNEMENT</a></span></div>
  {% endblock %}
{% endblock %}