{% extends "layout.twig" %}
{% block head %}
{{parent ()}}
<link rel="stylesheet"  type="text/css" href="/stylesheets/map.css">
<script src="javascripts/map/map.js"></script>
{% endblock %}
{% block content %}


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBavdsZji-wJshos01mjqZ_kS1--pmdcwY&libraries=places,geometry&callback=initMap"></script>
<nav id="navbar">
  <div id="notif"></div>
  Room à proximitées
</nav>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
<div class="filterChatRooms" filter="users">Popularité</div>
<div class="filterChatRooms" filter="distance">Distance</div>
<div id="chatRoomList"></div>
<div id="createEvent"><a href="/room/create">CRÉER UN ÉVÈNEMENT</a></div>
{% endblock %}