{% extends "layout.twig" %}
{% block head %}
{{parent ()}}
<link rel="stylesheet"  type="text/css" href="/stylesheets/room.css">
{% endblock %}
{% block content %}

<div class="roomContainer">


	<section id="zone_chat">
	</section>
</div>

<form action="/" method="post" id="formulaire_chat">
    <input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus />
    <input type="submit" id="envoi_message" value="Envoyer" />
</form>

<script src="../javascripts/room/room.js"></script>
{% endblock %}