{% extends "layout.twig" %}
{% block content %}
<style>

</style>

<h1>Name : {{room.name}}</h1>
<h1>Description : {{room.description}}</h1>
<h1>latitude : {{room.latitude}}</h1>
<h1>longitude : {{room.longitude}}</h1>

{% endblock %}