.gmnoprint {
    display: none
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px;
    text-overflow: ellipsis;
    width: 90%;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}

#bigFooter {
    display: table-cell;
    vertical-align: middle;
}

.clear {
    clear: both
}

#map {
    height: 40%;
}

#chatRoomList {
    height: 40%;
    overflow: hidden;
    overflow-y: scroll;
}

.chatRoom {
    border-bottom: 1px solid #dedede;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.chatRoom:nth-child(odd) {
    background-color: #dedede;
}

#createEvent {
    background-color: #106CC8;
    cursor: pointer;
    width: 100%;
    height: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    display: table;
}

#createEvent a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

#buttons {
    height: 5%;
    text-align: right;
}

.filterChatRooms {
    display: inline;
    height: 100%;
    background-color: #F57F17;
    color: white;
    font-family: Roboto;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 4px;
    text-decoration: none;
}

.users {
    float: right;
    padding-right: 25px;
    background-image: url(../images/users.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
    width: 20px;
}

.name {
    text-decoration: none;
}
