body {
    font: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #333
}

.clear {
    clear: both
}

.roomInfos {
    border-bottom: 1px solid #ccc;
    padding: 2% 10px;
    height: 6%;
    width: 100%;
}

.roomInfos h1 {
    font-size: 18px;
    margin: 0;
}

.roomInfos h2 {
    font-size: 12px;
    margin: 0;
}

.roomContainer {
    padding: 2% 15px;
    height: 82%;
    max-height: 82%;
    overflow-y: scroll;
}

.chat {
    padding: 5px 0px;
}

.chat .profilPicture {
    border-radius: 5px;
    display: inline-block;
}

.chat .date {
    display: inline-block;
    color: #9E9A9A
}

.chat .username {
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
}

.chat .message {
    vertical-align: top;
    padding-top: 5px;
}

.chat .user {
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
}

#formulaire_chat {
    width: 100%;
    height: 7%;
}

#message {
    width: 75%;
    display: block;
    float: left;
    border: 1px solid #ccc;
    margin: 0;
    padding: 2% 0 2% 5%;
    box-sizing: border-box;
    height: 100%;
}

#envoi_message {
    width: 25%;
    float: left;
    border: 0;
    margin: 0;
    padding: 2% 0;
    background-color: #106CC8;
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #333;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #333;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #333;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #333;
}
